NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=


TINYBIRD_API_URL=https://api.us-east.aws.tinybird.co
TINYBIRD_TOKEN=