@import "@linktra/components/styles";
@config '../../tailwind.config.js';

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-engraved {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 3px 5px 1px rgba(245, 245, 245, 0.5);
}

html {
  scroll-behavior: smooth;
}